%table.leaderboard
  %thead
    %tr
      %th Rank
      %th User
      %th Score
  %tbody
    - users.each_with_index do |(user_id, score), index|
      %tr
        %td= index+1
        %td= User.find(user_id).name
        %td= score
