%h4 Actual Top 10 List
%table
  %thead
    %tr
      %th Position
      %th Movie
  %tbody
    - Movie.top_ten_for(@roster.season.begin_date, @roster.season.end_date).each_with_index do |movie, i|
      %tr
        %td= i + 1
        %td= movie.name
