/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin:0px;
}

html {
  background: #EAEAEA url("fancy_white.jpg");
  background-size: 100%;
  overflow: hidden;
}

.container {
  height:100vh;
  overflow: hidden;
}

.left-menu {
  display: inline-block;
  width: 20%;
  height: 100%;
  position: absolute;
}

.right-menu {
  display: inline-block;
  width: 75%;
  height: 89%;
  position: absolute;
  left: 20%;
  top: 1%;
  background: rgba(100,120,60,0.5);
  padding: 2%;
  background: rgba(120, 154, 155, 0.48);
  box-shadow: 1px 1px 10px #888888;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(51, 61, 161, 1);
}

.menu-item {
  font-size: 22px;
  text-shadow: 1px 1px 3px rgb(68, 142, 187);
  color: black;
  text-decoration: none;
  display:block;
  width: 80%;
  height: 5%;
  margin: 2% auto 0%;
  background: rgba(120, 154, 155, 0.48);
  padding: 15px;
  box-shadow: 1px 1px 10px #888888;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(51, 61, 161, 1);
}

.menu-item:hover {
  box-shadow: 1px 1px 10px rgb(52, 193, 211);
  background: rgba(131, 210, 213, 0.48);
  text-shadow: 2px 2px 5px rgb(24, 157, 239);
}

a.active {
  box-shadow: 1px 1px 10px rgb(43, 207, 228) !important;
  background: rgba(68, 199, 203, 0.48) !important;
  text-shadow: 2px 2px 5px rgb(24, 157, 239) !important;
  cursor: default;
}

.btn-link:hover {
  background: rgba(0, 197, 255, 0.48);
  box-shadow: 3px 3px 5px #275A84;
  color: rgb(3, 4, 47);
}

.btn-link {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background: rgba(42, 221, 226, 0.48);
  padding: 6px;
  box-shadow: 3px 3px 5px #7B7B90;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(51, 61, 161, 1);
  text-decoration: none;
  color: rgb(15, 17, 132);
  font-size: 15px;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
  outline:none;
  box-shadow: 0px 0px 10px rgb(0, 148, 255);
}

input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover {
  outline:none;
  border-color: rgb(0, 148, 255);
}

input[type="email"], input[type="password"], input[type="text"] {
  outline:none;
  width: 200px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  border-width: 1px;
}
