/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin:0px;
}

html {
  background: #EAEAEA url("fancy_white.jpg");
  background-size: 100%;
  overflow: hidden;
}

.container {
  height:100vh;
  overflow: hidden;
}

.left-menu {
  display: inline-block;
  width: 20%;
  height: 100%;
  height: 97%;
  top: 1%;
  position: absolute;
  overflow-y: auto;
}

.right-menu {
  display: inline-block;
  width: 75%;
  height: 89%;
  position: absolute;
  left: 20%;
  top: 1%;
  padding: 2%;
  background: rgba(211, 211, 211, 0.74);
  box-shadow: 0px 0px 3px #FFFFFF;
  overflow-y: auto;
}

.menu-item {
  font-size: 22px;
  text-shadow: 1px 1px 3px rgb(68, 142, 187);
  color: black;
  text-decoration: none;
  display:block;
  width: 80%;
  height: 5%;
  margin: 2% auto 0%;
  padding: 15px;
  background: rgba(211, 211, 211, 0.74);
  box-shadow: 0px 0px 3px #FFFFFF;
  overflow-y: auto;

}

.menu-item:hover {
  box-shadow: 1px 1px 10px rgb(52, 193, 211);
  background: rgba(131, 210, 213, 0.48);
  text-shadow: 2px 2px 5px rgb(24, 157, 239);
}

a.active {
  box-shadow: 1px 1px 10px rgb(43, 207, 228) !important;
  background: rgba(68, 199, 203, 0.48) !important;
  text-shadow: 2px 2px 5px rgb(24, 157, 239) !important;
  cursor: default;
}

.btn-link:focus {
  outline:none;
}

.btn-link:hover {
  outline:none;
  box-shadow: 1px 1px 10px rgb(52, 193, 211);
  background: rgba(131, 210, 213, 0.48);
  text-shadow: 2px 2px 5px rgb(24, 157, 239);
}

.btn-link {
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background: rgba(42, 221, 226, 0.48);
  padding: 6px;
  box-shadow: 0px 0px 5px #7B7B90;
  text-decoration: none;
  font-size: 15px;
  text-shadow: 1px 1px 3px rgb(68, 142, 187);
  color: black;
  border-style: none;
}

.btn-link-inactive {
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background: rgba(42, 221, 226, 0.18);
  padding: 6px;
  box-shadow: 0px 0px 5px #7B7B90;
  text-decoration: none;
  font-size: 15px;
  color: rgba(15, 17, 132, 0.29);
  cursor: default;
  border-style: none;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, select:focus, textarea:focus {
  outline:none;
  box-shadow: 0px 0px 10px rgb(0, 148, 255);
}

input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover, select:hover, textarea:hover {
  outline:none;
  border-color: rgb(0, 148, 255);
}

input[type="email"], input[type="password"], input[type="text"], select, textarea {
  outline:none;
  width: 200px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  border-width: 1px;
  background-color: white;
}

tr:nth-child(odd) {
  background: rgba(195, 195, 195, 0.1);
}

tr:nth-child(even) {
  background: rgba(145, 145, 145, 0.1);
}

tr:hover {
  background-color: rgba(92, 199, 187, 0.5);
}

td, th {
  padding: 7px;
  text-align: center;
  margin: 0px;
}

thead tr {
  box-shadow: 1px 1px 10px rgb(43, 207, 228) !important;
  background: rgba(68, 199, 203, 0.48) !important;
  text-shadow: 2px 2px 5px rgb(24, 157, 239) !important;
}

.btn-to-link:hover {
  cursor: pointer;
}

.btn-to-link {
  background-color: rgba(0, 0, 0, 0) !important;
  border-width: 0px;
  color: rgb(37, 59, 211);
  text-decoration: underline;
}

table.leaderboard {
  display:inline;
}

span.leaderboard {
  display: inline-block;
  margin: 0px 50px 20px;
  width: 250px;
  height: 250px;
  overflow-y: scroll;
  box-shadow: 1px 1px 10px #34c1d3;
  background: rgba(131,210,213,0.48);
}

.movie-info div {
  padding: 10px;
}

h1 {
  margin-bottom: 4px;
  color: rgb(68, 199, 203);
  text-shadow: 1px 1px 1px rgb(0, 48, 77);
}

h2 {
  color: rgb(68, 199, 203);
  text-shadow: 1px 1px 1px rgb(0, 48, 77);
  margin-bottom: 3px;
}

h3 {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(68, 199, 203);
  margin-bottom: 2px;
}

h4 {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(68, 199, 203);
  margin-bottom: 1px;
}
